<div class="user flex">
  <div class="picture">
    <%= image_tag user.picture.thumb.url, class: "radius", width: "40px" %>
  </div>
  <div class="name">
    <h4><%= link_to user.name, user_path(user.user_id) %></h4>
  </div>
</div>
