<div class="user flex">
  <div class="user-icon">
    <%= image_tag user.icon.thumb.url, class: "radius", width: "40px" %>
  </div>
  <div class="name">
    <h4><%= link_to user.name, user_path(user.user_id) %></h4>
  </div>
</div>
