<%= link_to user_path(user.user_id) do %>
  <div class="user flex">
    <div class="user-icon">
      <%= image_tag user.icon.small.url, class: "radius", width: "40px" %>
    </div>
    <div class="name">
      <h4><%= user.name %></h4>
    </div>
  </div>
<% end %>
