<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Friends (<%= current_user.friends.count %>)</h1>
    <h4>Your Profile</h4>
    <div class="user flex">
      <div class="picture">
        <%= image_tag current_user.picture.thumb.url, class: "radius", width: "40px" %>
      </div>
      <h4 class="name"><%= link_to current_user.name, user_path(current_user.user_id) %></h4>
    </div>
    <div id="users">
      <h4>Your Friends</h4>
      <%= render @users %>
    </div>
  </div>
</div>
