<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="profile">
      <div class="user-icon">
        <%= image_tag @user.icon.middle.url, class: "radius", width: "120px" %>
      </div>
      <h1><%= @user.name %></h1>
      <% unless current_user?(@user) %>
        <%= render "friend_request_form" %>
      <% end %>
      <% if current_user?(@user) %>
        <%= link_to "settings", edit_user_registration_path, class: "settings" %>
      <% end %>
    </div>
  </div>
</div>
