<%= link_to "â†back", root_path %>

<h1><%= @room.name %></h1>
<div id="messages" data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
