@import "bootstrap-sprockets";
@import "bootstrap";

$gray-font: #999999;

* {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  padding-bottom: 90px;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.radius {
  border-radius: 50%;
}

.center {
  text-align: center;
}

.navbar-default {
  background-color: white;
  border: none;
}

.room-prof {
  justify-content: flex-end;
  h1 {
    margin-right: auto;
    margin-left: 10px;
  }
  a {
    margin-top: auto;
    margin-right: 10px;
  }
}

.room {
  padding: 0 10px;
}

.message {
  border-top: 1px solid #e8e8e8;
  padding: 5px 10px;
  overflow: hidden;
  .user-icon {
    align-items: flex-start;
    margin-right: 10px;
  }
  .name-and-content {
    display: flex;
    .content {
      margin: 5px 0 5px 10px;
    }
  }
  .created_at {
    float: right;
    color: gray;
  }
}

textarea {
  height: 80px;
  width: 100%;
}

#rooms {
  margin-bottom: 20px;
  a {
    height: cover;
    width: cover;
    :hover {
      background-color: #f8f8f8;
    }
  }
  .room {
    height: 65px;
    .name-and-content {
      margin-left: 10px;
      h4 {
        font-size: 16px;
      }
      .name {
        color: black;
        margin: 5px 0;
      }
      .content {
        margin-top: 0;
        color: $gray-font;
      }
    }
    span {
      margin: 5px 10px 0 auto;
      color: $gray-font;
    }
  }
}

.user {
  padding: 0 10px;
  .name {
    margin-left: 10px;
  }
}

#users {
  margin-top: 20px;
  a {
    height: cover;
    width: cover;
    :hover {
      background-color: #f8f8f8;
    }
  }
  .user {
    padding: 10px;
  }
}

#profile {
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
  h1 {
    margin-top: 5px;
  }
  .settings {
    float: right;
  }
}

#approve_btn {
  margin-left: auto;
}
